<html> 
    <head>
        <title> MarkMe </title>
        <link rel='stylesheet' type='text/css'href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css'>
    </head>
<body>

<div class='ui fixed menu'>
    <div class='ui container'>
        <a href='/missing/new' class='item'>Add new Missing Person</a>
        <a href='/missing' class='item'>List of Missing Persons</a>
    </div>


</div>