<% include partials/header %>

<h1>Missing Persons Tips List </h1>

<p>Are you looking for /missing ?</p>

<a href="/newmissing">Add new person</a>
<a href="/missing">Look at current list</a>

<% include partials/footer %>