<% include partials/header %>

<h1 class='ui header'>Missing Persons Tips List </h1>
<div class='container'>
    <% personsLost.forEach(function(allPersonsLost){ %>
        <div id="container" class='ui segment small'>
            <div> <%= allPersonsLost.firstName %> - <%= allPersonsLost.lastName %> is missing. They were last seen on <%= allPersonsLost.lastSeen %> 
                Tips: <%= allPersonsLost.notes %> </div> 
        </div>
    <% }) %>
</div>

<% include partials/footer %>